main{
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 5fr;
}

main > aside, main > section {
    display: block;
    padding: 1rem;
    height: auto;

}

@media only screen and (max-width: 600px)  {
  main > aside{
    display: none;
  }
  .btn-group {
      display: flex;
      justify-content: space-evenly;

  }

  #section-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: left;
    gap: 1.5rem
  }

  
 
}

/*para mobiles*/
@media only screen and (max-width: 608px) {
  main > aside{
      display: none;
  }

  main > section{
      grid-column-start: 1;
      grid-column-end: 3;
  }

  .btn-group {
      display: flex;
      justify-content: space-evenly;

  }

  #section-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  
}

/*para desktop*/
@media only screen and (min-width: 992px){
  #section-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: left;
    gap: 1.5rem
  }
}

#in-process {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
  width: 100%;

  padding: 1rem 5rem;
  border-top: solid 0.01rem #9fa0a1;
  background: #f5e8e3;
}

footer .statistic{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content:space-around;
  gap: 3px;
}


.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #464040;
  color:#fff;
  white-space: nowrap;
  line-height: 1.2;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.short-square{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 20% 0 0 20%;
}

.long-square{
  display: flex;
  width: 15rem;
  height: 2.5rem;
  border-radius: 0;
}

.square-primary {
  background-color: #0062cc;
}

.square-warning {
  background-color: #28a745;
}

.square-danger {
  background-color: #EE6C4D;
}











.btn {
	display: block;
	cursor: pointer;
	font-weight: 300;
	text-align: center;
	white-space: nowrap;

	border: 1px solid transparent;
	padding: 0.1rem 0.3rem;
	font-size: 0.9rem;
	line-height: 1.2;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

.btn-group {
  display: flex;
  justify-content:space-evenly;
  align-items:flex-end;

}

.btn-primary {
  color: #fff;
  background-color: #0062cc;
  border-color: #42628b;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}



.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-danger {
  color: #fff;
  background-color: #EE6C4D;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #EE6C4D;
}
